@font-face {
    font-family: "aladin-v8-latin-regular";
    src:    url("/assets/static/aladin-v8-latin-regular.woff2") format("woff2"),
            url("/assets/static/aladin-v8-latin-regular.woff") format("woff");
}

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --color-info: #ff9f41;
    --color-prud: #ffcb99;
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #2e6770;
    --color-third: #ff9f41;
    --color-accent: #12cdea;
    --color-info: #00ffff;
    --color-prud: #730100;
    --font-color: #ffffff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

.navbar-fixed {
    margin-top: -80px;
    position: fixed;
    z-index: 999;
    background-color: #0060df;
}

a .sidenav-trigger {
    position: relative;
    margin-top: 140px;
    width: 40px;
    height: 40px;
    z-index: 9999;
}

header.container-fluid {
    margin-top: 80px;
    height: auto;
}

.up {
    background-color: bisque;
}

.fadeup {
    width: 200px;
    height: 400px;
}

.inc {

    background: var(--color-secondary);
    
}

.inc h1 {
    color: var(--font-color);
}

.inc button {
    width: 10px;
    height: 20px;
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

#switch {
    background-color: rgba(128, 0, 49, .2);
    top: -5px;
}

.elhadi-title {
    color: #000000;

}

.determinate {
    position: absolute;
    
}

@keyframes progressbar {
    0 :{

    }
}

div.progress.bar {
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 15px 15px;
}
div.determinate.symfony {
    background-color: #000000;
    
    height: 50px;
}

.progress>.determinate.symfony {
    
    width: 0%;
}

.progress>.determinate.react {
    background-color: blue;
}

.progress>.determinate.mysql {
    background-color: aqua;

}

.progress>.determinate.php {
    background-color: blue;
}

.progress>.determinate.javascript {
    background-color: yellow;
}

.progress>.determinate.mongodb {
    background-color: green;
}

