* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

.navbar-fixed {
    position: fixed;
    z-index: 9999;
}

.sidenav {
    margin-top: -40;
}